---
import ProjectComponent from "./ProjectComponent.astro";
---

<div id="projects" class="relative flex pt-10 items-center">
    <div class="flex-grow border-t border-gray-400 shadow-lg"></div>
    <span class="flex-shrink mx-4 text-2xl font-semibold text-center">PROJECTS</span>
    <div class="flex-grow border-t border-gray-400 shadow-lg"></div>
</div>

<section class="md:h-full flex items-center">
    <div class="container px-5 p-12 mx-auto">
        <div class="flex flex-wrap -m-4">
        
        <ProjectComponent
        img="https://img.freepik.com/free-vector/online-coach-abstract-concept-illustration-mobile-training-program-remote-learning-video-app-certification-become-professional-coach-individual-learning-plan_335657-3475.jpg?w=826&t=st=1706220669~exp=1706221269~hmac=420d9fb15d11430c635e0d4169c0a1fcee87cfebf441dfa69124547005a94462"
        title="Salle Du Temps"
        date="2024"
        desc="A full-stack fitness mobile application designed to combine workout organization and social media interactivity using Flutter, Node.js (GraphQL) and PostgreSQL"
        link="https://github.com/Vegapunk-1710/salle-du-temps/"
        />

        <ProjectComponent
        img="https://bs-uploads.toptal.io/blackfish-uploads/components/seo/content/og_image_file/og_image/1081074/how-to-make-a-discord-bot-7c0fe302b98b05b145682344b3a4ec59.png"
        title="Tibbers (Discord Bot)"
        date="2023"
        desc="A Discord bot made to detect insults/toxicity using Pytorch"
        link="https://github.com/Vegapunk-1710/tibbers"
        />

        </div>
    </div>
</section>
