---
import Title from './src/components/Title.astro';
import WorkSection from './src/components/WorkSection.astro';
import Navbar from './src/components/navbar.astro';
import Layout from './src/layouts/Layout.astro';
---

<Layout title="Rony Mawad's Portfolio">
	<main>
		<Navbar/>
		<Title/>
		<WorkSection/>
	</main>
</Layout>

