---
import Title from '../components/Title.astro';
import WorkSection from '../components/Work/WorkSection.astro';
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import ProjectSection from '../components/Project/ProjectSection.astro';
import SkillSection from '../components/Skill/SkillSection.astro';
import AboutSection from '../components/AboutSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Rony's Personal Website">
	<main id="home">
		<Navbar/>
		<Title/>
		<WorkSection/>
		<ProjectSection/>
		<SkillSection/>
		<AboutSection/>
		<Footer/>
	</main>
</Layout>

