---
import Title from '../components/Title.astro';
import WorkSection from '../components/WorkSection.astro';
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import ProjectSection from '../components/ProjectSection.astro';
import InterestSection from '../components/InterestSection.astro';
---

<Layout title="Rony Mawad's Personal Website">
	<main>
		<Navbar/>
		<Title/>
		<WorkSection/>
		<ProjectSection/>
		<InterestSection/>
	</main>
</Layout>

