---
import Title from '../components/Title.astro';
import WorkSection from '../components/WorkSection.astro';
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import ProjectSection from '../components/ProjectSection.astro';
import SkillSection from '../components/SkillSection.astro';
---

<Layout title="Rony Mawad's Personal Website">
	<main id="home">
		<Navbar/>
		<Title/>
		<WorkSection/>
		<ProjectSection/>
		<SkillSection/>
	</main>
</Layout>

