---
import Title from '../components/Title.astro';
import WorkSection from '../components/WorkSection.astro';
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Rony Mawad's Portfolio">
	<main>
		<Navbar/>
		<Title/>
		<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
		<WorkSection/>
	</main>
</Layout>

