<div id="about" class="relative flex pt-10 items-center">
    <div class="flex-grow border-t border-gray-400 shadow-lg"></div>
    <span class="flex-shrink mx-4 text-2xl font-semibold text-center">ABOUT ME</span>
    <div class="flex-grow border-t border-gray-400 shadow-lg"></div>
</div>

<div class="md:h-full flex flex-col text-justify ">
    <p class="bg-white hover:shadow-2xl transition duration-300 ease-in p-5 m-5 lg:mx-52 md:mx-10 md:my-7 md:p-10 rounded-lg shadow-md text-xl dark:bg-[#28282c]">
        Welcome to my personal website. As you seek to learn more about me, I'm pleased to share some insights into my journey and passions. 
        My relationship with computers began at an early age, dating back to when my family first acquired a computer. 
        Despite my youth, I quickly developed a fascination with this groundbreaking technology. 
        <span class="font-bold text-orange-600 dark:text-indigo-500">This early exposure laid the foundation for my path in technology.!</span>
    </p>
    <p class="bg-white hover:shadow-2xl transition duration-300 ease-in p-5 m-5 lg:mx-52 md:mx-10 md:my-7 md:p-10 rounded-lg shadow-md text-xl dark:bg-[#28282c]">
        My ambition to become a software engineer has always been a driving force, yet my journey includes diverse experiences that have significantly shaped my character. 
        During my teenage years, I was actively involved in the Royal Canadian Sea Cadet program and the Scouts, experiences that enriched my personal development. 
        Between 2016 and 2019, I honed my skills in marksmanship through the Cadet program. 
        In high school, I utilized my spare time to delve into CGI and VFX, mastering tools like After Effects and Cinema 4D.
        In recent years, my interests have expanded to include fitness and a keen interest in human psychology and self-improvement, drawing inspiration from works like 'The 48 Laws of Power' and 'The Compound Effect'. 
        Music holds a special place in my heart, with artists such as The Weeknd, J. Cole, Michael Jackson, PNL, and Kendrick Lamar resonating deeply with me.
    </p>
    <p class="bg-white hover:shadow-2xl transition duration-300 ease-in p-5 m-5 lg:mx-52 md:mx-10 md:my-7 md:p-10 rounded-lg shadow-md text-xl dark:bg-[#28282c]">
        My enduring passion for technology fuels my ambitious goals. 
        These include excelling as a full stack developer, pursuing a Ph.D. in Artificial Intelligence, and exploring the potentials of quantum computing in advancing deep learning algorithms. 
        As I near the completion of my Computer Science degree, I view this as merely the commencement of a lifelong learning journey. 
        Inspired by Monkey D. Luffy's relentless quest in 'One Piece', I am committed to continual growth and exploration in my field. 
        The path ahead promises to be an extraordinary adventure!
    </p>
    <p class="bg-white hover:shadow-2xl transition duration-300 ease-in p-5 m-5 lg:mx-52 md:mx-10 md:my-7 md:p-10 rounded-lg shadow-md text-xl dark:bg-[#28282c] text-center">
        If you would like to get in touch or discuss any opportunities, please send me a message on LinkedIn or contact me <a href="mailto:ronymawad@gmail.com" class="font-bold text-orange-600 dark:text-indigo-500">here</a>.</span>
    </p>
</div>