<div id="about" class="relative flex pt-10 items-center">
    <div class="flex-grow border-t border-gray-400 shadow-lg"></div>
    <span class="flex-shrink mx-4 text-2xl font-semibold text-center">ABOUT ME</span>
    <div class="flex-grow border-t border-gray-400 shadow-lg"></div>
</div>