<footer class="flex backdrop-blur-xl bg-transparent shadow-2xl align-middle justify-center">
    <div class="p-2 inline">Powered by Astro</div>
    <img src="https://seeklogo.com/images/A/astro-icon-logo-44253BACEE-seeklogo.com.png" alt="" class="h-7 w-5 mt-2">
    <div class="p-2 inline"> & Tailwind </div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Tailwind_CSS_Logo.svg/2048px-Tailwind_CSS_Logo.svg.png" alt="" class="h-9 w-7">
</footer>