<nav class="backdrop-blur-xl bg-transparent sticky top-0 z-50">
    <div class="flex flex-row justify-between p-3">
        <!----- 
            Divide Nav bar over two seperated sections
        ----->
        <div class="flex flex-row">
            <p class="px-2 text-xl">Rony Mawad</p>
        </div>
        <div>
            <a href="https://github.com/Ronakage" class="mr-1 text-gray-600 text-sm hover:text-black">GitHub</a>
            <a href="https://www.linkedin.com/in/rony-mawad-070316223/" class="mr-1 text-gray-600 text-sm hover:text-black">LinkedIn</a>
            <button class="mr-1 text-gray-600 text-sm hover:text-black">Dark Mode</button>
        </div>
    </div>
</nav>

