<nav class="backdrop-blur-md bg-transparent sticky top-0 z-50 shadow-sm">
    <div class="flex flex-row justify-between">
        <!----- 
            Divide Nav bar over two seperated sections
        ----->
        <span class="p-1 text-4xl font-semibold">RM</span>
        <div class="p-3">
            <span class="mr-1 bg-white p-3 rounded-xl shadow-md hover:animate-bounce"><a href="https://github.com/Ronakage" class=" text-gray-800 text-sm hover:text-black">GitHub</a></span>
            <span class="mr-1 bg-white p-3 rounded-xl shadow-md hover:animate-bounce"><a href="https://www.linkedin.com/in/rony-mawad-070316223/" class=" text-gray-800 text-sm hover:text-black">LinkedIn</a></span>
            <span class="mr-1 bg-white p-3 rounded-xl shadow-md hover:animate-bounce"><button class="mr-1 text-gray-600 text-sm hover:text-black">Dark Mode</button></span>
        </div>
    </div>
</nav>

