<div id="skills" class="relative flex py-5 items-center">
    <div class="flex-grow border-t border-gray-400 shadow-lg"></div>
    <span class="flex-shrink mx-4 text-2xl font-semibold text-center">SKILLS & CERTIFICATIONS</span>
    <div class="flex-grow border-t border-gray-400 shadow-lg"></div>
</div>

<div class="flex flex-col m-auto p-auto">
          <div class="flex overflow-x-scroll pb-10 hide-scroll-bar">
            <div class="flex flex-nowrap lg:ml-52 md:ml-20 ml-10 pt-10">
              <div class="inline-block px-3">
                <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white dark:bg-[#28282c] hover:shadow-2xl transition-shadow duration-300 ease-in-out">
                  <div class="p-6 font-bold text-orange-600 dark:text-indigo-500 text-xl tracking-wide">LANGUAGES</div>
                </div>
              </div>
              <div class="inline-block px-3">
                <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white dark:bg-[#28282c] hover:shadow-2xl transition-shadow duration-300 ease-in-out">
                  <div class="p-6 font-bold text-orange-600 dark:text-indigo-500 text-xl tracking-wide">Java</div>
                  <div class="flex justify-center">
                      <img src="https://static.vecteezy.com/system/resources/previews/019/899/953/non_2x/java-free-download-free-png.png" alt=""
                      class="h-28 w-28 object-cover bg-transparent">
                    <ul class="list-disc">
                      <li>Spring</li>
                      <li>Data Structures & Algorithms</li>
                      <li>Multithreading</li>
                      <li>First Language Learned</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="inline-block px-3">
                <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white dark:bg-[#28282c] hover:shadow-2xl transition-shadow duration-300 ease-in-out">
                  <div class="p-6 font-bold text-orange-600 dark:text-indigo-500 text-xl tracking-wide">Python</div>
                  <div class="flex justify-center pt-6">
                    <img src="https://www.pngmart.com/files/7/Python-PNG-File.png" alt=""
                    class="h-16 w-16 object-scale-down bg-transparent">
                    <ul class="list-disc pl-6">
                      <li>Pytorch</li>
                      <li>Selenium</li>
                      <li>Discord.py</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="inline-block px-3">
                <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white dark:bg-[#28282c] hover:shadow-2xl transition-shadow duration-300 ease-in-out">
                  <div class="p-6 font-bold text-orange-600 dark:text-indigo-500 text-xl tracking-wide">C#</div>
                  <div class="flex justify-center">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Csharp_Logo.png" alt=""
                    class="h-28 w-28 object-scale-down bg-transparent">
                    <ul class="list-disc">
                      <li>.NET</li>
                      <li>LINQ</li>
                      <li>Multithreading</li>
                      <li>Windows Presentation Foundation</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="inline-block px-3">
                <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white dark:bg-[#28282c] hover:shadow-2xl transition-shadow duration-300 ease-in-out">
                  <div class="p-6 font-bold text-orange-600 dark:text-indigo-500 text-xl tracking-wide">Javascript/Typescript</div>
                  <div class="flex justify-center">
                    <img src="https://khalilstemmler.com/img/blog/compared/ts-js.png" alt=""
                    class="h-28 w-28 object-scale-down bg-transparent pl-3">
                    <ul class="list-disc pl-6">
                      <li>Node.js (Express.js)</li>
                      <li>React</li>
                      <li>Astro</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="inline-block px-3">
                <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white dark:bg-[#28282c] hover:shadow-2xl transition-shadow duration-300 ease-in-out">
                  <div class="p-6 font-bold text-orange-600 dark:text-indigo-500 text-xl tracking-wide">Dart</div>
                  <div class="flex justify-center">
                    <img src="https://www.fluttericon.com/logo_dart_192px.svg" alt=""
                    class="h-28 w-28 object-scale-down bg-transparent pl-3">
                    <ul class="list-disc pl-6">
                      <li>iOS, Android and Desktop Developpment (Flutter)</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="inline-block px-3">
                <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white dark:bg-[#28282c] hover:shadow-2xl transition-shadow duration-300 ease-in-out">
                  <div class="p-6 font-bold text-orange-600 dark:text-indigo-500 text-xl tracking-wide">DATABASES</div>
                  <div class="flex justify-center">
                    <img src="https://cdn-icons-png.flaticon.com/512/2906/2906206.png" alt=""
                    class="h-28 w-28 object-scale-down bg-transparent pl-3">
                    <ul class="list-disc pl-6">
                      <li>SQL (PostgreSQL)</li>
                      <li>NoSQL (MongoDB)</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="inline-block px-3">
                <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white dark:bg-[#28282c] hover:shadow-2xl transition-shadow duration-300 ease-in-out">
                  <div class="p-6 font-bold text-orange-600 dark:text-indigo-500 text-xl tracking-wide">DEV OPS</div>
                  <div class="flex justify-center">
                    <img src="https://devopedia.org/images/article/54/7602.1513404277.png" alt=""
                    class="h-28 w-28 object-scale-down bg-transparent pl-3">
                    <ul class="list-disc pl-6">
                      <li>Github Actions</li>
                      <li>Docker / Kubernetes</li>
                      <li>AWS EC2 / S3</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="inline-block px-3 pr-56">
                <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white dark:bg-[#28282c] hover:shadow-2xl transition-shadow duration-300 ease-in-out">
                  <div class="p-6 font-bold text-orange-600 dark:text-indigo-500 text-xl tracking-wide">TOOLS</div>
                  <div class="flex justify-center">
                    <img src="https://img.uxwing.com/wp-content/themes/uxwing/download/tools-equipment-construction/service-tools-icon.png" alt=""
                    class="h-28 w-28 object-scale-down bg-transparent pl-3">
                    <ul class="list-disc pl-6">
                      <li>Visual Studio & Code</li>
                      <li>IntelliJ IDEA</li>
                      <li>ClickUp</li>
                      <li>Jira</li>
                      <li>Confluence</li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
    </div>
    <div class="flex flex-col m-auto p-auto">
      <div class="flex overflow-x-scroll pb-10 hide-scroll-bar">
        <div class="flex flex-nowrap lg:ml-52 md:ml-20 ml-10 pt-10">
          <div class="inline-block px-3">
            <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white dark:bg-[#28282c] hover:shadow-2xl transition-shadow duration-300 ease-in-out">
              <div class="p-6 font-bold text-orange-600 dark:text-indigo-500 text-xl tracking-wide">ACHIEVEMENTS</div>
            </div>
          </div>
          <div class="inline-block px-3">
            <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white dark:bg-[#28282c] hover:shadow-2xl transition-shadow duration-300 ease-in-out">
              <div class="p-6 font-bold text-orange-600 dark:text-indigo-500 text-xl tracking-wide">Java</div>
              <div class="flex justify-center">
                  <img src="https://static.vecteezy.com/system/resources/previews/019/899/953/non_2x/java-free-download-free-png.png" alt=""
                  class="h-28 w-28 object-cover bg-transparent">
                <ul class="list-disc">
                  <li>Spring</li>
                  <li>Data Structures & Algorithms</li>
                  <li>Multithreading</li>
                  <li>First Language Learned</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="inline-block px-3">
            <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white dark:bg-[#28282c] hover:shadow-2xl transition-shadow duration-300 ease-in-out">
              <div class="p-6 font-bold text-orange-600 dark:text-indigo-500 text-xl tracking-wide">Python</div>
              <div class="flex justify-center pt-6">
                <img src="https://www.pngmart.com/files/7/Python-PNG-File.png" alt=""
                class="h-16 w-16 object-scale-down bg-transparent">
                <ul class="list-disc pl-6">
                  <li>Pytorch</li>
                  <li>Selenium</li>
                  <li>Discord.py</li>
                </ul>
              </div>
            </div>
          </div>
     

 
 
 

        </div>
      </div>
</div>
    <style>
    .hide-scroll-bar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    .hide-scroll-bar::-webkit-scrollbar {
      display: none;
    }
    </style>