<div class="mt-10 pb-14">
        <h1 class="relative font-bold text-center text-8xl selection:text-black dark:selection:text-white ">
            Rony Mawad
            <h1 class="absolute opacity-50 left-1/2 -translate-x-1/2 top-24 text-center text-8xl bg-gradient-to-r from-white from-5% to-orange-500 to-75% dark:from-indigo-500 dark:from-0% dark:to-black dark:to-95% blur-xl">Rony Mawad</h1>
        </h1>
    <h2 class="italic text-center text-4xl p-6 font-medium text-gray-800 dark:text-gray-300">Software Engineer </h2>
    <div class="absolute inline-grid grid-cols-1 grid-rows-1 gap-12 overflow-hidden left-1/2 -translate-x-1/2 font-light">
        <span class="animate-word col-span-full row-span-full text-center text-md pb-5">Full Stack Developer</span>
        <span class="animate-word-delay-1 col-span-full row-span-full text-center text-md pb-5">AI Student</span>
        <span class="animate-word-delay-2 col-span-full row-span-full text-center text-md pb-5">Quantum Computing Enthusiast</span>
    </div>
</div>

<style>

    @keyframes word {
      0% {
        transform: translateY(100%);
      }
      15% {
        transform: translateY(-10%);
        animation-timing-function: ease-out;
      }
    
      20% {
        transform: translateY(0);
      }
    
      40%,
      100% {
        transform: translateY(-110%);
      }
    }

    .animate-word {
      animation: word 4s infinite;
    }
    .animate-word-delay-1 {
      animation: word 4s infinite;
      animation-delay: -1.4s;
    }
    .animate-word-delay-2 {
      animation: word 4s infinite;
      animation-delay: -2.8s;
    }
    </style>