<div class="mt-10">
        <h1 class="relative font-bold text-center text-8xl selection:text-black dark:selection:text-white ">
            Rony Mawad
            <h1 class="absolute opacity-50 left-1/2 -translate-x-1/2 top-24 text-center text-8xl bg-gradient-to-r from-white from-5% to-orange-500 to-75% dark:from-indigo-500 dark:from-0% dark:to-black dark:to-95% blur-xl">Rony Mawad</h1>
        </h1>
    <h2 class="italic text-center text-4xl p-6 font-medium text-gray-800 dark:text-gray-300">Software Engineer </h2>
    <h3 class="text-center text-md pb-5">Full-Stack Dev / AI Student / Quantum Computing Enthusiast</h3>
</div>