<div id="experiences" class="relative flex py-5 items-center">
    <div class="flex-grow border-t border-gray-400 shadow-lg"></div>
    <span class="flex-shrink mx-4 text-2xl font-semibold text-center">EXPERIENCES & EDUCATION</span>
    <div class="flex-grow border-t border-gray-400 shadow-lg"></div>
</div>
<div class="relative  container mx-auto px-6 flex flex-col space-y-8">
    <div class="absolute z-0 w-2 h-full bg-white dark:bg-[#28282c] shadow-md left-17 inset-0 md:mx-auto md:right-0 md:left-0"></div>
    <div class="relative z-10 ">
        <img src="https://lh3.googleusercontent.com/p/AF1QipMoAmmtmEt4J73iRWRgpX6t0lSXGh2WYMq43SIG=s680-w680-h510" 
        alt=""
        class="hover:animate-spin h-24 w-24 object-cover rounded-full shadow-md border-4 border-white dark:border-[#28282c] xs:absolute md:mx-auto md:left-0 md:right-0"
        >
        <div class="relative pt-2 xs:pl-28 xs:pt-0 md:w-1/2 md:ml-auto md:pl-16">
            <div aria-hidden="true" class="absolute inset-0 left-10 h-4 w-4 transform rotate-45 bg-white dark:bg-[#28282c] xs:top-11 xs:left-26 md:left-14"></div>
            <div class=" bg-white hover:shadow-2xl transition duration-300 ease-in dark:bg-[#28282c] p-6 rounded-md shadow-md">
                <span class="font-bold text-orange-600 dark:text-indigo-500 text-sm tracking-wide">Summer 2022 (May - August)</span>
                <h1 class="text-xl font-bold pt-1">Software Developper @ TEC Energy</h1>
               <p class="pt-2 text-justify">
                My second internship was
               </p>
            </div>
        </div>
    </div>
    <div class="relative z-10">
        <img src="https://video.matrox.com/sites/video/files/2022-10/muracontrol_pad_app_800x450.png" 
        alt=""
        class="hover:animate-spin h-24 w-24 object-cover bg-white dark:bg-[#28282c]  rounded-full shadow-md border-4 border-white dark:border-[#28282c] xs:absolute md:mx-auto md:left-0 md:right-0"
        >
        <div class="relative pt-2 xs:pl-28 xs:pt-0 md:w-1/2 md:ml-0 md:pl-0 md:mr-auto md:pr-16 ">
            <div aria-hidden="true" class="absolute inset-0 left-10 h-4 w-4 transform rotate-45 bg-white dark:bg-[#28282c]  xs:top-11 xs:left-26 md:left-auto md:right-14"></div>
            <div class="bg-white hover:shadow-2xl transition duration-300 ease-in dark:bg-[#28282c] p-6 rounded-md shadow-md">
                <span class="font-bold text-orange-600 dark:text-indigo-500 text-sm tracking-wide">Summer 2021 (May - August)</span>
                <h1 class="text-xl font-bold pt-1">Software Quality Assurance Engineer @ Matrox</h1>
                <p class="pt-2 text-justify">My first internship was my first exposure to a real-life software development lifecycle. 
                    I gained a lot of experience from my co-workers and I learned how to be a useful team player by cooperating  
                    with the other intern to tackle what seemed as impossible tasks at that time. Also, I learned the importance of
                    soft skills and how communication can make or break a project. Plus, I wrote automation scripts using Python in 
                    order to automate manual tests, saving hundreds of wasted hours in my department. I scored 4.9/5 in my intern evaluation 
                    report as a result.
                </p>
            </div>
        </div>
    </div>
    <div class="relative z-10">
        <img src="https://www.concordia.ca/content/concordia/en/social/guidelines-conduct.img.png/1650398601839.png" 
        alt=""
        class="hover:animate-spin h-24 w-24 object-cover rounded-full shadow-md border-4 border-white dark:border-[#28282c] xs:absolute md:mx-auto md:left-0 md:right-0"
        >
        <div class="relative pt-2 xs:pl-28 xs:pt-0 md:w-1/2 md:ml-auto md:pl-16">
            <div aria-hidden="true" class="absolute inset-0 left-10 h-4 w-4 transform rotate-45 bg-white dark:bg-[#28282c] xs:top-11 xs:left-26 md:left-14"></div>
            <div class=" bg-white hover:shadow-2xl transition duration-300 ease-in dark:bg-[#28282c] p-6 rounded-md shadow-md">
                <span class="font-bold text-orange-600 dark:text-indigo-500 text-sm tracking-wide">September 2020 - April 2024</span>
                <h1 class="text-xl font-bold pt-1">Computer Science Student @ Concordia University</h1>
               <p class="pt-2 text-justify">
                    As an undergraduate student, I learned Data Structures and Algorithms, Web Development with HTML, CSS and JavaScript, Computer Networks,
                    Advanced Programming Design with C++, Operating Systems, Design Patterns and Software Engineering Principles. Most of the coursework was done using Java.
                    I also learned different Programming Paradigms by studying C, Lisp, Python and Prolog. Finally, I studied Artificial Intelligence, Machine Learning and Deep Learning, using Pytorch,
                    and its math (Multivariable Calculus, Linear Algebra and Probabilities & Statistics).

               </p>
            </div>
        </div>
    </div>
    <div class="relative z-10">
        <img src="https://www.bdeb.qc.ca/wp-content/themes/bdeb/assets/dist/images/logo-menu.svg" 
        alt=""
        class="hover:animate-spin h-24 w-24 object-scale-down bg-white dark:bg-[#28282c] rounded-full shadow-md border-4 border-white dark:border-[#28282c] xs:absolute md:mx-auto md:left-0 md:right-0"
        >
        <div class="relative pt-2 xs:pl-28 xs:pt-0 md:w-1/2 md:ml-0 md:pl-0 md:mr-auto md:pr-16">
            <div aria-hidden="true" class="absolute inset-0 left-10 h-4 w-4 transform rotate-45 bg-white dark:bg-[#28282c] xs:top-11 xs:left-26 md:left-auto md:right-14"></div>
            <div class="bg-white hover:shadow-2xl transition duration-300 ease-in dark:bg-[#28282c] p-6 rounded-md shadow-md">
                <span class="font-bold text-orange-600 dark:text-indigo-500 text-sm tracking-wide">August 2018 - May 2020</span>
                <h1 class="text-xl font-bold pt-1">Sciences informatiques et mathématiques DEC @ Collège de Bois-de-Boulogne</h1>
                <p class="pt-2 text-justify">
                    This DEC (Diplome d'études collégiales) strengthened my preexisting knowledge in programming. Programming was only a self-taught hobby for me before this degree.
                    I learned Object-Oriented Programming and Game Development using Java. At the end of the degree, 
                    I worked with the city of Pointe-Claire and the University of Montreal on a graduation project that helps
                    students with special needs to reach out to their professors and do their homework. This project was my introduction to full stack development and the stack used was
                    Flutter, Express.js, MongoDB Atlas.
                </p>
            </div>
        </div>
    </div>
</div>