---
import LeftWorkComponent from "./LeftWorkComponent.astro";
import RightWorkComponent from "./RightWorkComponent.astro";
---

<div id="experiences" class="relative flex py-5 items-center">
    <div class="flex-grow border-t border-gray-400 shadow-lg"></div>
    <span class="flex-shrink mx-4 text-2xl font-semibold text-center">EXPERIENCES & EDUCATION</span>
    <div class="flex-grow border-t border-gray-400 shadow-lg"></div>
</div>

<div class="relative  container mx-auto px-6 flex flex-col space-y-8">
    <div class="absolute z-0 w-2 h-full bg-white dark:bg-[#28282c] shadow-md left-17 inset-0 md:mx-auto md:right-0 md:left-0"></div>

    <RightWorkComponent img="https://lh3.googleusercontent.com/p/AF1QipMoAmmtmEt4J73iRWRgpX6t0lSXGh2WYMq43SIG=s680-w680-h510"
    title="Software Developper [Intern] @ TEC Energy " 
    date="Summer 2022 (May - August)" 
    desc="This challenging role tested my accumulated knowledge, aligning with my enthusiasm for tackling demanding tasks. My primary responsibility involved refurbishing a .NET (C#) based desktop application, which was initially inefficient and poorly structured. This application was crucial for traders to access charts and forecasts from the data science team. Additionally, I optimized SQL queries to enhance execution speeds and innovatively developed a React web application for monitoring database health and web scraping activities. My contributions were recognized uniquely with an offer to return."
    />

    <LeftWorkComponent img="https://video.matrox.com/sites/video/files/2022-10/muracontrol_pad_app_800x450.png"
    title="Software Quality Assurance Engineer [Intern] @ Matrox "
    date="Summer 2021 (May - August)"
    desc="During my first internship, I was introduced to the real-life software development lifecycle. This experience significantly enhanced my skillset, teaching me the value of teamwork, especially in collaboration with fellow interns on challenging tasks. I learned the critical role of soft skills and effective communication in project success. My key contribution was developing Python scripts to automate manual testing processes, significantly saving time and resources in my department. This effort was reflected in my exceptional intern evaluation score of 4.9 out of 5."
    />

    <RightWorkComponent img="https://www.concordia.ca/content/concordia/en/social/guidelines-conduct.img.png/1650398601839.png"
    title="Computer Science Student @ Concordia University" 
    date="September 2020 - April 2024" 
    desc="As an undergraduate student, my academic journey encompassed a comprehensive range of subjects pivotal to computer science. I gained proficiency in Data Structures and Algorithms, and Web Development using HTML, CSS, and JavaScript. My studies also included Computer Networks, Advanced Programming Design with C++, Operating Systems, Design Patterns, and Software Engineering Principles, primarily utilizing Java. Additionally, I explored various Programming Paradigms through C, Lisp, Python, and Prolog. My education culminated in an in-depth study of Artificial Intelligence, Machine Learning, and Deep Learning, applying Pytorch and underpinning these studies with a strong foundation in Multivariable Calculus, Linear Algebra, and Probability & Statistics."
    />

    <LeftWorkComponent img="https://www.bdeb.qc.ca/wp-content/themes/bdeb/assets/dist/images/logo-menu.svg"
    title="Sciences informatiques et mathématiques DEC @ Collège de Bois-de-Boulogne"
    date="August 2018 - May 2020"
    desc="The DEC (Diplôme d'études collégiales) program significantly enhanced my self-taught programming skills. It provided a structured approach to learning, with a focus on Object-Oriented Programming and Game Development, primarily using Java. The culmination of this degree involved a collaborative graduation project with the city of Pointe-Claire and the University of Montreal. This project, aimed at assisting students with special needs in communicating with professors and completing homework, served as my introduction to full-stack development. For this, we utilized a technology stack comprising Flutter, Express.js, and MongoDB Atlas."
    />

</div>